<%- include("template/cabecera", {tituloPagina: "Detalle de mascota"}) %>
    <div class="container">
        <h1>Detalle Mascota</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %> 
            </p>
            <a href="/mascotas" class="btn btn-dark btn-block">Volves a mascotas</a>
        <% } %>
        <% if (!error) { %>
                                        
            <form id="formularioEditar" data-id="<%= mascotas.id %>" >
                <input 
                    type="text"
                    class="form-control my-2"
                    name="nombre"
                    value="<%= mascotas.nombre %>"
                    id="nombreInput"
                >
                 <input 
                    type="text"
                    class="form-control my-2"
                    name="descripcion"
                    value="<%= mascotas.descripcion %>"
                    id="descripcionInput"

                >
                <button
                    class="btn btn-warning"
                    type="submit"
                >
                    Editar
                </button>
            </form>
            <button
               class="btn btn-danger btn-sm mt-2 d-grid gap-2"
               id="btnEliminar"
               data-id="<%= mascotas.id %>"
            >
              Eliminar
            </button>

        <% } %>
    </div>

  <%- include("template/footer") %>

  <script>
      const btnEliminar = document.querySelector('#btnEliminar')
      btnEliminar.addEventListener('click', async () => {
        const id = btnEliminar.dataset.id
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'delete'
            })
            const res = await data.json()
            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
      });

      const formularioEditar = document.querySelector('#formularioEditar')
      formularioEditar.addEventListener('submit', async(e) => {
          e.preventDefault()

        //   const nombre = formularioEditar.elments['nombre'].value
          const nombre = document.querySelector('#nombreInput').value
          const descripcion = document.querySelector('#descripcionInput').value
          const id = formularioEditar.dataset.id

          try {
              const data = await fetch(`/mascotas/${id}`, {
                  method: 'put',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({nombre, descripcion})
              })
              const res = await data.json()
              if(res.estado){
                  window.location.href = '/mascotas'
              }else{
                  console.log(res);
              }
          } catch (error) {
              console.log(error);
          }
      });
  </script>
