<%- include("template/cabecera", {tituloPagina: "Bienvenidos"}) %>

<div class="container">
  <h1>CRUD Mascotas - con mongoDB</h1>
  <a href="/mascotas/crear">
    <button
      class="btn btn-success btn-block my-4"
    >
      Crear nueva mascotas
    </button>
  </a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayMascotas.length > 0) { %>
        <% arrayMascotas.forEach(mascotas => { %>

            <tr>
              <th scope="row"><%= mascotas.id %> </th>
              <td><%= mascotas.nombre %> </td>
              <td><%= mascotas.descripcion %> </td>
              <td>
                <a 
                  href="mascotas/<%= mascotas.id %>" 
                  class="btn btn-warning btn-sm"
                >
                  editar
                </a>
              </td>
            </tr>

        <% }) %>
       
      <% } %>
      
    </tbody>
  </table>
  
</div>

<%- include("template/footer") %>
